
@{
    ViewBag.Title = "Software Shortcut key";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SoftwareShortcutKey</title>
</head>
<body class="">
<div class="col-md-12 page-inner margin-top-15px">

    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
            <div class="row">
                <h5><b><i style="color: red; font-size: 20px;" class="far fa-hand-point-right"></i> Billing</b></h5>
                <div class="col-md-12"><b>1. </b><b style="color: blue;">Ctrl+F4</b> To enable/disable product search, when mouse cursor staying into the Item Code/Barcode
                </div>
                <div class="col-md-12"><b>2. </b><b style="color: blue;">Esc</b> To hide product search grid.
                </div>
                <div class="col-md-12"><b>3. </b><b style="color: blue;">F8</b> To enable/disable "select & break into the item/product qty when you adding the product", when mouse cursor staying into the Item Code/Barcode
                </div>
                <div class="col-md-12"><b>4. </b><b style="color: blue;">F2</b> To clear "Item Code / Barcode...." and focus/select & ready to billing.
                </div>
                <div class="col-md-12"><b>5. </b><b style="color: blue;">F7</b> To mouse curser move to "Cash Receipt" text box where you can enter the cash.
                </div>
                <div class="col-md-12"><b>4. </b><b style="color: blue;">Ctrl+Delete</b> To delete billing item/product but at first, select the deleted item into the item/product grid.
                </div>
                <div class="col-md-12"><b>7. </b><b style="color: blue;">Ctrl+S</b> To save bill.
                </div>
                <div class="col-md-12"><b>8. </b><b style="color: blue;">Ctrl+C</b> To cancel bill.
                </div>
                <div class="col-md-12"><b>9. </b><b style="color: blue;">Ctrl+R</b> To reprint invoice.
                </div>
                <div class="col-md-12"><b>10. </b><b style="color: blue;">Ctrl+P</b> To print last invoice.
                </div>
            </div>

        </div>
    </div>

    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
            <div class="row">
                <h5><b><i style="color: red; font-size: 20px;" class="far fa-hand-point-right"></i> Stock Transfar</b></h5>
                <div class="col-md-12"><b>1. </b><b style="color: blue;">Ctrl+F4</b> To enable/disable product search, when mouse cursor staying into the Item Code/Barcode
                </div>
                <div class="col-md-12"><b>2. </b><b style="color: blue;">Esc</b> To hide product search grid.
                </div>
                <div class="col-md-12"><b>3. </b><b style="color: blue;">F8</b> To enable/disable "select & break into the item/product qty when you adding the product", when mouse cursor staying into the Item Code/Barcode
                </div>
                <div class="col-md-12"><b>4. </b><b style="color: blue;">F2</b> To clear "Item Code / Barcode...." and focus/select & ready to billing.
                </div>
                <div class="col-md-12"><b>5. </b><b style="color: blue;">F7</b> To mouse curser move to "Cash Receipt" text box where you can enter the cash.
                </div>
                <div class="col-md-12"><b>4. </b><b style="color: blue;">Ctrl+Delete</b> To delete billing item/product but at first, select the deleted item into the item/product grid.
                </div>
                <div class="col-md-12"><b>7. </b><b style="color: blue;">Ctrl+S</b> To save bill.
                </div>
                <div class="col-md-12"><b>8. </b><b style="color: blue;">Ctrl+C</b> To cancel bill.
                </div>
                <div class="col-md-12"><b>9. </b><b style="color: blue;">Ctrl+R</b> To reprint invoice.
                </div>
                <div class="col-md-12"><b>10. </b><b style="color: blue;">Ctrl+P</b> To print last invoice.
                </div>
            </div>

        </div>
    </div>

    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
            <div class="row">
                <h5><b><i style="color: red; font-size: 20px;" class="far fa-hand-point-right"></i> Purchase Receipt</b></h5>
                <div class="col-md-12"><b>1. </b><b style="color: blue;">Ctrl+F4</b> To enable/disable product search
                </div>

            </div>

        </div>
    </div>

    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
            <div class="row">
                <h5><b><i style="color: red; font-size: 20px;" class="far fa-hand-point-right"></i> Location Transfer</b></h5>
                <div class="col-md-12">
                    <b>1. </b><b style="color: blue;">Ctrl+F4</b> To enable/disable product search
                </div>

            </div>

        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
            <div class="row">
                <h5><b><i style="color: red; font-size: 20px;" class="far fa-hand-point-right"></i> Stock Adjustment</b></h5>
                <div class="col-md-12">
                    <b>1. </b><b style="color: blue;">Ctrl+F4</b> To enable/disable product search
                </div>

            </div>

        </div>
    </div>

</div>
</body>
</html>
