@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Login</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="Inventory & Pos">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <link href="~/Scripts/lib/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/lib/assets/css/atlantis.min.css" rel="stylesheet" />
    <script src="~/Scripts/lib/assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="~/Scripts/lib/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script src="~/Scripts/lib/js-message.js"></script>
    <link href="~/Content/site.css" rel="stylesheet"/>
    <link href="~/Content/Custom/login/Login.css" rel="stylesheet" />
</head>

<body>

<div class="container-fluid">
    <div class="h-100">
        <div class="h-100 row">
            <div class="d-none d-lg-block col-lg-4 p-0">
            </div>
            <div class="h-100 d-flex justify-content-center align-items-center col-md-12 col-lg-8">
                <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
                    <div class="login-frame">
                        <h2 class="mb-0">
                            <span class="d-block fw-bold">Welcome  to SANDARC POS,</span>
                            <span>Please sign in to your account.</span>
                            <hr/>
                        </h2>
                        <h5 class="mt-3">
                            No account? 
                            <a href="#" class="text-primary">Sign up now</a>
                        </h5>
                        <div class="divider row"></div>
                        <div>
                            @using (Html.BeginForm("Login", "Security", FormMethod.Post, new {@class = "validate-form"}))
                            {
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="LoginName" class="">User Name</label>
                                            <input id="LoginName" type="text" class="form-control" name="LoginName" required autocomplete="username" autofocus placeholder="User Name...."/>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="Password" class="">Password</label>
                                            <input id="Password" type="password"
                                                   class="form-control" name="Password" required autocomplete="current-password"
                                                   placeholder="Password here"/>

                                        </div>
                                    </div>
                                </div>
                                <div class="position-relative pl-4">
                                    <input class="form-check-input" type="checkbox" name="remember" id="remember"/>
                                    <label class="form-check-label" for="remember">Remember Me</label>
                                </div>
                                <div class="divider row"></div>
                                <div class="d-flex align-items-center">
                                    <div class="ml-auto">
                                        <button type="submit" class="btn btn-pill btn-shadow btn-primary">Click to Login</button>
                                    </div>
                                </div>
                            }
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
@{
    if (TempData["msg"] != null)
    {
        <script type="text/javascript">
            Message.Error('@Html.Raw(TempData["msg"])');
        </script>
    }
}
</body>

</html>
