@{
    ViewBag.Title = "User Office";
}

<link href="~/Content/Custom/Security/UserBranch.css" rel="stylesheet" />
<script src="~/Scripts/Custom/Security/UserOffice.js"></script>


<div class="page-inner margin-top-15px">
    <div class="modal fade" id="frmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Access Permission</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "resourceDpt", @class = "form-horizontal" }))
                        {
                            <div class="col-md-12">
                                <div class="form-group form-inline control-group">
                                    <label class="col-md-3">User</label>
                                    <div class="col-md-9">
                                        <select id="cmbUser" name="SecUser" class="form-control txtbox97">
                                            <option></option>
                                        </select>
                                        <span class="required">*</span>
                                    </div>
                                </div>
                                <div class="form-group form-inline control-group">
                                    <label class="col-md-3">Branch</label>
                                    <div class="col-md-9">@Html.ListBox("cmbOffice", new SelectList("", ""), new { Class = "form-control txtbox97"})</div>
                                </div>
                            </div>
                        }
                    </div>
                <div class="modal-footer">
                    <input id="btnSave" type="submit" value="Save Change" class="btn btn-sm btn-success"/>
                    <input id="btnEdit" type="button" value="Update" class="btn btn-sm btn-warning"/> 
                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-md-12">
        <div class="main-card card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title"> <i class="fas fa-user"></i> User Branch </h4>
                    <button id="btnAddNew" class="btn btn-primary btn-sm btn-round ml-auto">
                        <i class="fa fa-plus"></i> Set User Branch
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table id="tableElement" class="table table-bordered w100"></table>
            </div>
        </div>
    </div>
</div>
</div>



