@model ERP.Models.Security.SecUserRole

@{
    ViewBag.Title = "UserRoles";
}
<script src="~/Scripts/Custom/Security/UserRole.js"></script>

<div class="page-inner margin-top-15px">
    <div class="modal fade" id="frmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Role Create</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    
                        @using (Html.BeginForm(null, null, FormMethod.Post, new {@id = "frmPost", @class = "form-horizontal"}))
                        {

                            <div class="col-md-12">

                                <div class="form-group form-inline control-group">
                                    <label class="col-md-3">User</label>
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(m => m.SecUserId, new SelectList("", ""), new {Style = "", @class = "form-control txtbox97"})
                                        <span class="required">*</span>
                                    </div>
                                </div>

                                <div class="form-group form-inline control-group">
                                    <label class="col-md-3">Role Name</label>
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(m => m.SecRoleId, new SelectList("", ""), new {Style = "", @class = "form-control txtbox97"})
                                        <span class="required">*</span>
                                    </div>
                                </div>

                                <div class="form-group form-inline control-group">
                                    <label class="col-md-3">Status</label>
                                    <div class="col-md-9">
                                        <div class="form-check">
                                            <label class="form-radio-label">
                                                @Html.RadioButtonFor(m => m.Status, true, new {@Id = "stsActive"})<span class="pl-2">Active</span> 
                                            </label>
                                            <label class="form-radio-label">
                                                @Html.RadioButtonFor(m => m.Status, false, new {@Id = "stsInactive"})<span class="pl-2">Inactive</span> 
                                            </label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                    
                </div>

                <div class="modal-footer">
                    <input id="btnSave" type="submit" value="Save Change" class="btn btn-sm btn-success"/>
                    <input id="btnEdit" type="button" value="Update" class="btn btn-sm btn-warning"/>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="main-card card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title"> <i class="fas fa-user"></i> User Role </h4>
                        <button id="btnAddNew" class="btn btn-primary btn-sm btn-round ml-auto">
                            <i class="fa fa-plus"></i> Set User Role
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table id="tableElement" class="table table-bordered w100"></table>
                </div>
            </div>
        </div>
    </div>
</div>


